.calendar {
    font-family: 'Droid Sans', Verdana, Sans-serif;
    width: 100%;
    border-collapse: collapse;
	border:1px solid #000;
}

.calendar tbody tr:first-child th {
    color: #000;
	background: #FFF;
	text-align:center;
	border-bottom:1px solid #000;
	padding:15px;
	font-weight:bold;
	text-transform:uppercase;
}

.calendar tbody tr th {
	padding:10px;
	background: #f9f9f9;
	border-bottom:1px solid #000;
}

.calendar tbody tr th a {
	border:0;
	color: #06c;
}

.day_header {
    font-weight: normal;
    text-align: center;
    color: #757575;
    font-size: 85%;
	padding:0;
}

.calendar td {
    width: 14%; /* Force all cells to be about the same width regardless of content */
    border:1px solid #000;
    height: 100px;
    vertical-align: top;
    font-size: 10px;
    padding: 0;
}

.calendar td ul {
	padding: 5px 10px 0 10px; 
}

.calendar td ul li {
	list-style:square;
	list-style-position: inside;
}

.calendar td:hover {
    background: #F9F9F9;
}

.day_listing {
    display: block;
    text-align: right;
    font-size: 115%;
    color: #FFF;
    padding: 5px;
	font-weight:bold;
	background: #000;
}

div.today {
    background: #FFFFCC;
    height: 100%;
}