.tipsy { padding: 5px; font-size: 85%; background-repeat: no-repeat;   }
  .tipsy-inner { padding: 7px 10px 10px 10px; background-color: #06c; color: #FFF; font-weight:normal; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }
